/* Link de importação do Google Fontes*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Maven+Pro&family=Roboto+Slab:wght@200;300;400;500&display=swap");

* {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Cor das fontes*/
  --color-text: #fff;
  /*Cores principais*/
  --color-primary: #0f102c;
  --color-secondary: #1c1e3b;
  --color-shadow: #454764;
  /*Cores das bordas*/
  --color-green: #00ff00;
  --color-red: #ff0000;
  /*Cores dos valores*/
  --saldo-color: #4652fa;
  --receita-color: #42ac48;
  --despesa-color: #df3c30;
  /*1rem = 16px*/
  font-size: 16px;
}

body {
  height: 100vh;
  background-color: var(--color-secondary);
  color: var(--color-text);
}

main .container .title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.45rem;
}

main .container .row .subtitle {
  font-size: 1.4rem;
}

main .container .row .subtitle {
  font-size: 1.4rem;
}

main .container .row ul {
  list-style: none;
}

/*Bordas coloridas*/
main .container .borda {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding-left: 5px;
}

main .container .borda-vermelha {
  border-left: 3px solid var(--color-red);
}

main .container .borda-verde {
  border-left: 3px solid var(--color-green);
}

main .container .saldo-value {
  font-size: 2.5rem;
  text-align: left;
}

main .container .receita-value,
main .container .despesa-value {
  font-size: 1.5rem;
  text-align: right;
}

main .container .saldo-value {
  color: var(--saldo-color);
}

main .container .receita-value {
  color: var(--receita-color);
}

main .container .despesa-value {
  color: var(--despesa-color);
}

/* Modal */
.modal .modal-body form select,
.modal .modal-body form .input-user,
.modal .modal-body form ::-webkit-datetime-edit,
.modal .modal-body form input::placeholder,
.modal .modal-body form .input-box,
.modal .modal-header,
.modal .modal-content {
  color: var(--color-text);
}

.modal .modal-header {
  background-color: var(--color-secondary);
}

.modal .modal-content {
  background-color: var(--color-primary);
}

.modal .modal-footer {
  background-color: var(--color-secondary);
}

/* Formulario */
.modal .modal-body form .input-box,
.modal .modal-body form .data-container {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

/* bordas input */
.modal .modal-body form .input-user,
.modal .modal-body form select,
.modal .modal-body form .data-container input[type="date"] {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-text);
  margin-bottom: 20px;
}

/* tamanho e espaçamento*/
.modal .modal-body form .input-user,
.modal .modal-body form select {
  font-size: 15px;
  letter-spacing: 1px;
}

/* mudando o estilo do input data */
.modal form .data-container input[type="date"] {
  font-size: 15px;
  cursor: text;
  border-bottom: none;
}

/* icone do calendario */
.modal form .data-container ::-webkit-calendar-picker-indicator {
  cursor: pointer;
  /* transform: translateX(-142px); */
  transform: translateX(-115px);
  border-bottom: none;
  background-image: url(/img/calendar.png);
}

/* dd/mm/aaaa */
.modal form .data-container ::-webkit-datetime-edit {
  cursor: text;
  transform: translateX(25px);
  border-bottom: 1px solid var(--color-primary);
}

/* Transações - Lista */
main .container .transacao-container {
  padding: 0;
  margin-bottom: 25px;
}

main .container .transacao-container .transacao {
  border: 1px solid var(--color-text);
  border-radius: 10px;
  box-shadow: 1px 1px 0 #706f6faf;
  margin: 10px 0;
  padding: 10px;
}

.footer-container {
  max-width: 100%;
}

.bg-main-color {
  background: var(--color-primary);
}

.bg-color-secondary {
  background: var(--color-secondary);
}

::selection {
  background-color: #695cfe;
  color: var(--color-text);
}

@media (max-width: 576.98px) {
  main .container .saldo-value {
    font-size: 2.8rem;
    text-align: start;
  }

  main .container .receita-value,
  main .container .despesa-value {
    font-size: 1.8rem;
    text-align: start;
  }
}

/* Definindo o tamanho maximo do container */
@media (min-width: 991.98px) {
  main .container {
    width: 720px;
  }
}
